.nav {
    margin: 0 0 0 auto;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.item {
    margin-right: 90px;
}

.link {
    text-decoration: none;
    color: #1F1F1F;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    transition: all 0.3s linear;
}

.link:hover {
    transform: scale(1.1);
    color: #FF8126; 
}

.link:active {
    transform: scale(0.9);
    color: #FF8126; 
}


